* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  --theme-dark-bg: #131417;
}

::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}